/*
 * http://www.colourlovers.com/palette/3590058/1
 **/
.soft-delete-admin-settings .clear {
	clear: both;
}

.soft-delete-admin-settings .soft-delete-bl {
	background: url("../img/fabric_of_squares_gray.png");
	
	border-radius: 0px 6px 6px 6px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.3);
	margin: 15px 10px;
}

	.soft-delete-admin-settings .soft-delete-bl .in {
		padding: 15px 30px;
	}
	
	.soft-delete-admin-settings .soft-delete-bl .hdr {
		padding: 3px 30px;
		height:40px;
		line-height:38px;
		border-bottom: 1px ridge #fff;
		background: #636981;
		border-radius: 0px 6px 0 0;
		margin: 0;
	}
	
	.soft-delete-admin-settings .soft-delete-bl .hdr h3,
	.soft-delete-admin-settings .soft-delete-bl .hdr h3 a {
		color: #fff;
		font-size: 18px;
		font-family: sans-serif;
		margin: 0;
	}
	
.soft-delete-admin-settings .hidden {
	display: hidden;
}

.soft-delete-admin-settings label {
	line-height: 30px;
}

.soft-delete-admin-settings .nobutton {
	background: none;
	border: none;
	padding: 0;
}

.soft-delete-admin-settings h2,
.soft-delete-admin-settings h3 {
	margin-bottom: 0;
	line-height:38px;
	font-weight: normal;
}

.soft-delete-select {
	padding:3px;
}

.soft-delete-select li {
	height: 17px;
	padding: 3px;
	margin: 3px;
	
}

.soft-delete-select input {
	display: block;
	width: 99.5%;
}


.soft-delete-admin-settings .soft-delete-iframe {
	width: 100%;
	height: 450px;
}


.soft-delete-admin-settings code {
    background: #DEDDD8;
    box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    color: #332D2E;
    display: inline-block;
}

.soft-delete-admin-settings a {
    color: #636981;
}

.soft-delete-admin-settings blockquote {
    border-left: 3px solid #636981;
    padding: 10px 0 10px 15px;
}

.soft-delete-admin-settings .logo {
    text-align: center;
    padding: 400px 0 15px;
    background: url('../img/logo.png') no-repeat 50% 15px;
    color: #636981;
    text-transform: uppercase;
    font-size: 18px;
	display: block;
}

.soft-delete-admin-settings textarea {
	min-height: 100px;
	resize: vertical;
}

.soft-delete-admin-settings .tip {
	text-decoration: none;
	border-bottom: 1px dotted #636981;
}


.ui-widget-overlay {
	position: fixed;
	background: rgba(0,0,0,0.3);
}


.pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form select, .pure-form textarea {
	padding: 4px;
}

.soft-delete-shortcodes-wizard .shortcode-selected-post {
	display: inline-block;
}

.settings-pure-form .pure-control-group label {
	width: 25em;
}

.settings-pure-form .pure-control-group ul {
	width: 25em;
	display: inline-block;
    margin: 0 1em 0 0;
   
    vertical-align: middle;
}

.settings-pure-form .pure-control-group ul label {
	width: auto;
	text-align: left;
}

.soft-delete-override-setting {
	display: none;
}


.soft-delete-admin-settings .select-with-previews {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	margin: 0;
}

.soft-delete-admin-settings .select-with-previews.widefat {
	display: block;
	width: auto;
}

.soft-delete-admin-settings legend {
	font-size: 18px;
	color: #666;
	border-bottom: 1px solid #999;
	margin-top: 30px;
}

	.soft-delete-admin-settings legend .fa {
		margin-right: 12px;
	}


.soft-delete-requirement-success {
	color: YellowGreen;
}

.soft-delete-requirement-fail {
	color: OrangeRed;
}
